
<!doctype html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>編輯:<%= data.title %></title>    

        <!-- CSS lib -->    
        <link rel="stylesheet"  href="/css/lib/bootstrap.min.css" />

        <!-- CSS -->
        <link rel="stylesheet"  href="/css/edit.css" />
        <link rel="stylesheet"  href="/css/songFormat.css" />

    </head>

    <body>
    
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/list">吉他好朋友</a>                
                    <a class="btn btn-primary" href="javascript:window.history.back()">上一頁</a>
                </div>
            </div>
        </div>

        <div id="edit">
            <div class="container well well-large">            
                <% if(data._id == undefined ){ %>
                    <a id="submitButton" class="btn btn-success" href="javascript:void(0);">新增</a>
                <%} else {%>    
                    <a id="submitButton" class="btn btn-success" data-id="<%= data._id %>" href="javascript:void(0);">儲存</a> 
                    <a id="deleteButton" class="btn btn-danger" data-id="<%= data._id %>" href="javascript:void(0);">刪除</a> 
                <% } %>        
                <div>
                    <form id="editForm">
                        <div class="input-prepend">
                            <span class="add-on">作者</span>                        
                            <input type="text" class="span4" id="author" name="author" placeholder="Band/Artist" value="<%= data.author || '' %>"/>
                        </div>                                    
                        <div class="input-prepend">
                            <span class="add-on">歌名</span>                                        
                            <input type="text" class="span4" id="title" name="title" placeholder="Song Name" value="<%= data.title || '' %>"/> 
                        </div>
                        <div class="tabbable">
                          <ul class="nav nav-tabs">
                            <li class="active"><a href="#editorView" data-toggle="tab">編輯</a></li>
                            <li class=""><a href="#previewView" data-toggle="tab">預覽</a></li>
                          </ul>
                          <div class="tab-content">
                            <div class="tab-pane active" id="editorView">                            
                                <div class="title">歌詞</div>

                                <div id="chordGenegator">
                                    <div class="functionSwitchBtn btn-toolbar pull-left">
                                        <div class="btn-group">
                                            <a href="#" id="changeRootDisplay" class="btn btn-danger"># b</a>
                                        </div>
                                    </div>
                                    <div class="rootNoteBtnGroup btn-toolbar">
                                        <div class="btn-group selected">
                                            <a href="#" class="btn">C</a>
                                            <a href="#" class="btn">#C</a>
                                            <a href="#" class="btn">D</a>
                                            <a href="#" class="btn">#D</a>
                                            <a href="#" class="btn">E</a>
                                            <a href="#" class="btn">F</a>
                                            <a href="#" class="btn">#F</a>
                                            <a href="#" class="btn">G</a>
                                            <a href="#" class="btn">#G</a>
                                            <a href="#" class="btn">A</a>
                                            <a href="#" class="btn">#A</a>
                                            <a href="#" class="btn">B</a>
                                        </div>
                                        <div class="btn-group">
                                            <a href="#" class="btn">C</a>
                                            <a href="#" class="btn">bD</a>
                                            <a href="#" class="btn">D</a>
                                            <a href="#" class="btn">bE</a>
                                            <a href="#" class="btn">E</a>
                                            <a href="#" class="btn">F</a>
                                            <a href="#" class="btn">bG</a>
                                            <a href="#" class="btn">G</a>
                                            <a href="#" class="btn">bA</a>
                                            <a href="#" class="btn">A</a>
                                            <a href="#" class="btn">bB</a>
                                            <a href="#" class="btn">B</a>
                                        </div>
                                    </div>

                                    <div class="functionSwitchBtn2 btn-toolbar pull-left">
                                        <div class="btn-group">
                                            <a href="#" id="changeChordDisplay" class="btn btn-danger">更多</a>
                                        </div>
                                    </div>
                                    <div class="chordTypeGroup btn-toolbar">
                                        <div class="btn-group selected">
                                            <a href="#" class="btn">maj</a>
                                            <a href="#" class="btn">maj7</a>
                                            <a href="#" class="btn">add9</a>
                                            <a href="#" class="btn">m</a>
                                            <a href="#" class="btn">m7</a>
                                            <a href="#" class="btn">m6</a>
                                            <a href="#" class="btn">7</a>
                                            <a href="#" class="btn">9</a>
                                            <a href="#" class="btn">dim7</a>
                                            <a href="#" class="btn">sus2</a>
                                            <a href="#" class="btn">sus4</a>
                                        </div>
                                        <div class="btn-group">
                                            <a href="#" class="btn">maj6</a>
                                            <a href="#" class="btn">maj9</a>
                                            <a href="#" class="btn">maj69</a>
                                            <a href="#" class="btn">maj#11</a>
                                            <a href="#" class="btn">maj13</a>
                                        </div>
                                        <div class="btn-group">
                                            <a href="#" class="btn">m7b5</a>
                                            <a href="#" class="btn">m9</a>
                                            <a href="#" class="btn">m11</a>
                                            <a href="#" class="btn">m&nbsp;add9</a>
                                            <a href="#" class="btn">m69</a>
                                            <a href="#" class="btn">m&nbsp;maj7</a>
                                            <a href="#" class="btn">m&nbsp;maj9</a>
                                        </div>
                                        <div class="btn-group">
                                            <a href="#" class="btn">aug</a>
                                            <a href="#" class="btn">7b9</a>
                                            <a href="#" class="btn">7+9</a>
                                            <a href="#" class="btn">11</a>
                                            <a href="#" class="btn">#11</a>
                                            <a href="#" class="btn">13</a>
                                            <a href="#" class="btn">b13</a>
                                            <a href="#" class="btn">7sus</a>
                                            <a href="#" class="btn">7sus2</a>
                                        </div>
                                    </div>
                                </div>

                                <span class="btnGroup">
                                    <a id="arrangeModeButton" class="sourceButton btn btn-info">譜和弦</a>
                                    ||
                                    <a id="sourceCodeModeButton" class="sourceButton btn btn-danger">編輯原始碼</a>
                                </span>

                                <div class="chordWrap">
                                    <div class="chordCanvas">
                                        <div class="chordTool">
                                            <div class="btnGroup clearfix">
                                                <a id="updateArrangeButton" class="btn btn-info">更新</a>
                                                <a id="abortArrangeButton" class="btn btn-danger">放棄</a>
                                            </div>
                                        </div>
                                        <div class="chordCollection"></div>  
                                        <div id="chordCollectionList">
                                            <div id="deleteArea"><img src="../img/trashBin.png"></div>
                                            <!--
                                            <div class="chordUnit">
                                                <i class="close">&times;</i>
                                                <div class="btn chordItem">Am</div>
                                            </div>
                                            -->
                                        </div>
                                    </div>                                    
                                </div>

                                <textarea id="lyric" row="2"></textarea>
                            </div>
                            <div class="tab-pane" id="previewView">                                
                                <div class="well">
                                    <div id="preview"></div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div id="sourceCodeDialog">
                            <div class="sourceCodeDialogOverlay">
                                <div class="content">
                                    <div class="title">原始碼</div>
                                    <span class="btnGroup">
                                        <a id="saveSourceCodeButton" class="btn btn-info">保存</a>
                                        <a id="abortSourceCodeButton" class="btn btn-danger">放棄</a>
                                    </span>
                                    <textarea id="sourceCode" row="2" name="lyric"><%= data.lyric || '' %></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="loadingOverlay">
            
        </div>

        <!-- JS lib -->       
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/lib/jquery-1.8.3.min.js"><\/script>')</script>
        <script type="text/javascript" src="/js/lib/jquery-ui-1.9.1.drag.min.js"></script>
        <script type="text/javascript" src="/js/lib/jquery.ui.touch-punch.min.js"></script>

        <!-- JS -->          
        <script type="text/javascript" src="/js/songFormat.js"></script>
        <script type="text/javascript" src="/js/edit.js"></script>

    </body>
</html>

  


