

<!doctype html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>吉他好朋友</title>    
        <!-- CSS lib -->    
        <link rel="stylesheet"  href="/css/lib/bootstrap.min.css" />         

        <!-- CSS -->
        <link rel="stylesheet"  href="/css/header.css" />  
        <link rel="stylesheet"  href="/css/list.css" />
        <link rel="stylesheet"  href="/css/userSetting.css" />
    </head>

    <body>      
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/list">吉他好朋友</a>            
            <% if(user === undefined ){ %>
              <a id="FBloginButton" class="btn btn-primary"  href="/auth/facebook">FB登入</a>
            <%} else {%>
              <a id="newLyricButton" class="btn btn-primary"  href="edit">新增歌詞</a>
              <a class="btn btn-info" href="javascript: listOperation.openUserSetting();">設定</a>
              <a class="btn btn-danger"  href="logout">登出</a>
            <% } %>
            <div class="searchWrap">            
              <input  id="searchInput" type="text" placeholder="輸入歌名或是作者" value="<%= keyword || '' %>">
              <select id="searchType" class="input-small">
                  <% if (type == 'byTitle'){ %>              
                    <option value="byTitle" selected>歌名</option>
                    <option value="byAuth">作者</option>
                  <% } else { %>              
                    <option value="byTitle">歌名</option>
                    <option value="byAuth" selected>作者</option>
                  <% } %>
              </select>
              <a id="searchButton" class="btn" href="javascript:listOperation.search();">搜尋</a>
            </div>
          </div>
        </div>
      </div>
      <div id="songList">
        <div class="container">
          <div class="page-header">          
            <h1>清單畫面</h1>               
          </div>            
            <div class="well well-large">
              <% if (data !== null && data.length) { %>
                <div class="row">
                <% data.forEach(function(item){ %>
                <div class="span12 ">
                  <div class="span12 ">
                    <div class="row mainTitle">
                      <div class="span5 songName">
                        <a href="/query/<%= item._id%>"><%= item.title %></a>
                      </div>
                      <div class="span2 author">
                        <a href="/list?keyword=<%= item.author %>&type=byAuth"><%= item.author %></a>
                      </div>
                      <div class="span2 editor">
                        <a href="javascript: void(0);"><%= item.editorName || "" %></a>
                      </div>
                      <div class="span2 createTime">
                        <%= new Date(item.createTime).toString().substring(0 , 24) %>
                      </div>
                    </div>                    
                    <div class="span10 offset1 summary">
                      <%= item.summary %>
                      <%if(user !== undefined && item.editor == user.FB_id ) { %>
                        <a class="editButton btn btn-danger" href="/edit/<%= item._id%>">編輯</a>
                      <% } %>
                    </div>
                  </div>                   
                </div>
              <% }) %>
            </div>
            <% } %>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container">
          <div class="span8">
            Author: Mofas Lee
          </div>
          <div class="span3 bootstrap">
            Made with Bootstrap.
          </div>
        </div>
      </footer>

      <!-- JS lib -->             
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/lib/jquery-1.8.2.min.js"><\/script>')</script>

      <!-- JS -->      
      <script type="text/javascript" src="/js/list.js"></script>
      <script type="text/javascript" src="/js/userSetting.js"></script>
    </body>
</html>

  


