<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= data.title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">            

        <!-- CSS lib -->    
        <link rel="stylesheet"  href="/css/lib/bootstrap.min.css" />             

        <!-- CSS -->
        <link rel="stylesheet"  href="/css/main.css" />  
        <link rel="stylesheet"  href="/css/query.css" />
        <link rel="stylesheet"  href="/css/songFormat.css" />

    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/list">吉他好朋友</a>                
                    <a class="btn btn-primary" href="javascript:window.history.back()">上一頁</a>      
                    <%if(user !== undefined && data.editor == user.FB_id ) { %>
                      <a class="editButton btn btn-danger" href="/edit/<%= data._id%>">編輯</a>
                    <% } %>
                </div>
            </div>
        </div>

        
        <div id="query" class="hero-unit">
            <div class="container">
                <div class="white-panel">
                    <div class="row">
                        <div class="span12">                    
                            <h3>歌名: <%= data.title || '' %></h3>
                        </div>            
                        <div class="span12">
                            <h3>作者:　<%= data.author || '' %></h3>
                        </div>
                        <div class="span12">
                            <h3>編輯者:　<%= data.editorName || '' %></h3>
                        </div>                    
                        <div class="span12">
                            <textarea id="rawLyric"><%= data.lyric || '' %></textarea>
                            <div class="lyricWrap well">
                                <div id="chordNote"></div>
                                <div id="lyric">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="chordNoteData" name="chordNote" type="hidden" value="<%= data.chordNote || '' %>">
            </div>
        </div>

        <!-- JS lib -->       
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/lib/jquery-2.0.2.min.js"><\/script>')</script>

        <!-- JS -->                  
        <script src="/js/songFormat.js"></script>


        <!-- chordNote Related model -->        
        <script type="text/javascript" src="../js/canvas.js"></script>
        <script type="text/javascript" src="../js/chordDiagram.js"></script>
        <script type="text/javascript" src="../js/chordCollection.js"></script>

        <script src="/js/query.js"></script>
        
    </body>
</html>

  


